#tweets-container {
  width: 100%;
}

/* #tweets-container:hover {
  box-shadow: 5px 5px 5px #b6b5b3ec;
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  cursor: pointer;
} */

article.tweet {
  width: 100%;
  margin-bottom: 0.5em;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-content: center;
  border: 6px solid #545149;
}

article.tweet:hover {
  box-shadow: 5px 5px 5px #b6b5b3ec;
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  transition: 150ms ease;
}

article.tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
}

.tweet-header-left {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.tweet-header-right {
  display: flex;
  font-weight: lighter;
}

article.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tweet-footer-left {
  display: flex;
  flex-direction: row;
}

.tweet-footer-right {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#flag:hover {
  color: darkgoldenrod;
  cursor: pointer;
  transition: 150ms ease-in;
}

#retweet:hover {
  color: darkgoldenrod;
  cursor: pointer;
  transition: 150ms ease-in;
}

#heart:hover {
  color: darkgoldenrod;
  cursor: pointer;
  transition: 150ms ease-in;
}

.tweet-text {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-content: space-around;
  border: none;
  border-bottom: 6px solid #545149;
}